ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  width: 100%;
}

li {
  float: left;
}

li span {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li span:hover {
  cursor: pointer;
}

.active {
  background-color: #4caf50;
}

.active:hover {
  background-color: rgb(113, 193, 116);
}

.inactive:hover {
  background-color: #111;
}
