ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  width: 100%;
}

ul.header-bar-container {
  font-size: large;
  height: 56px;
}

li {
  float: left;
}

li span {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 35px;
  text-decoration: none;
}

li span:hover {
  cursor: pointer;
}

.transition.active {
  background-color: #4caf50;
}

.transition.active:hover {
  background-color: rgb(113, 193, 116);
}

.transition.inactive:hover {
  background-color: #111;
}

.transition {
  transition-property: background-color;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  transform-origin: left;
}
